<li class="item">
  <header class="pad-med">
    <h2>{{title}}</h2>
  </header>

  <div class="align-center">
    <img class="img-thumb" src="{{imageUrl}}" />
  </div>

  <footer class="align-center pad-med">
    <p>Current price: <strong>${{price}}</strong></p>
    <a class="action" href="/auction/details/{{_id}}">See details</a>
  </footer>
</li>

{{! <li class="item">
      <header class="pad-med">
        <h2>Fishing Boat</h2>
      </header>

      <div class="align-center">
        <img class="img-thumb" src="/static/assets/boat.jpg" />
      </div>

      <footer class="align-center pad-med">
        <p>Current price: <strong>$5000</strong></p>
        <a class="action" href="#">See details</a>
      </footer>
    </li>
    <li class="item">
      <header class="pad-med">
        <h2>Wardrobe</h2>
      </header>

      <div class="align-center">
        <img class="img-thumb" src="/static/assets/wardrobe.jpg" />
      </div>

      <footer class="align-center pad-med">
        <p>Current price: <strong>$150</strong></p>
        <a class="action" href="#">See details</a>
      </footer>
    </li>
    <li class="item">
      <header class="pad-med">
        <h2>Record Player</h2>
      </header>

      <div class="align-center">
        <img class="img-thumb" src="/static/assets/player.jpg" />
      </div>

      <footer class="align-center pad-med">
        <p>Current price: <strong>$400</strong></p>
        <a class="action" href="#">See details</a>
      </footer>
    </li> }}