<option value="{{label}}" {{#if selected}}selected{{/if}}>{{label}}</option>


{{!-- <option value="estate">Real Estate</option>
<option value="vehicles">Vehicles</option>
<option value="furniture">Furniture</option>
<option value="electronics">Electronics</option>
<option value="other">Other</option> --}}