table td,
th {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 8px 60px 5px 10px;
}

table th:last-child,
table td:last-child {
  border-right: 1px solid black;
}

table td {
  border-bottom: 1px solid black;
}

table {
  border-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
