@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");

* {
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: 0px;
  background-image: url(image.jpg);
  background-repeat: center center;
  background-size: cover;
  position: relative;
}

h1 {
  position: relative;
  top: 170px;
  left: 520px;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

body .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0px, 200px);
  border-radius: 10px;
  background-color: white;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.info .username {
  padding: 30px 20px 10px;
  border-bottom: solid gray 1px;
}

.info .username i {
  padding-right: 20px;
  color: gray;
}

.info .username input {
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.info .pass {
  padding: 30px 20px 10px;
  border-bottom: solid gray 1px;
}

.info .pass i {
  padding-right: 20px;
  color: gray;
}

.info .pass input {
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.info .btn {
  padding: 30px 80px 30px;
}
.info .btn a {
  background-color: #d41872;
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 120px;
}

.backgraound {
  margin: 0px 0;
  padding: 0px;
  position: absolute;
  background-color: black;
  top: -20px;
  left: 0px;
  width: 1349px;
  height: 700px;
  opacity: 0.6;
  z-index: -2;
}
