<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <img src="/project-workshop/public/images/logo.png" />
      <p class="logo">SoftUni Forum</p>
    </div>
    <div class="mini-navbar">
      @if (!isLoggedIn) {
        <!-- <ul>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul> -->

        <ul>
          <li>
            <a href="#">Login</a>
          </li>
          <li>
            <a href="#">Register</a>
          </li>
        </ul>
      }
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Themes</a>
      </li>
      <li>
        <a href="#">New Theme</a>
      </li>
    </ul>
  </nav>
</header>
