@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Poppins, serif;
}

h1,
h2 {
  font-family: Monserrat, sans-serif;
}

body {
  display: flex;
}

.text {
  width: 800px;
  padding: 0px 30px 30px 60px;
  font-size: 14px;
  line-height: 1.3rem;
}
.text h1 {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.8rem;
}

.text img {
  width: 60px;
}

.text h2 {
  font-size: 16px;
  font-weight: 600;
}
.text div {
  font-size: 14px;
}

.text div .pic1,
.text div .pic2,
.text div .pic3 {
  display: flex;
  align-items: stretch;
}
.text div .text2 h2,
.text div .text2 p {
  padding: 4px 4px 0px 4px;
  margin: 0px;
}

.img {
  padding: 30px 60px 30px 0;
}

.img img {
  max-width: 500px;
}
