* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
}

section {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  text-align: right;
  font-family: Georgia, serif;
  max-width: 30%;
}

button {
  background-color: rgb(0, 153, 0);
  color: white;
  text-align: center;
  width: 120px;
  height: 40px;
  font-size: 18px;
  border-radius: 4px;
  margin: 0 20px 20px 0;
}

h1 {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
  text-align: left;
}

p {
  text-align: left;
  font-size: 20px;
  padding: 0 32px;
}

img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  position: relative;
}
