@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  background-color: #ffd9b0;
  display: flex;
  justify-content: center;
  padding: 60px 200px;
}

.img img {
  width: 500px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  height: 100%;
}

.info {
  background-color: black;
  color: white;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  width: 400px;
}

.info h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 60px;
  font-weight: 500;
}

.infoinput {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
}

.infoinput input {
  margin: 10px 0px;
  padding: 10px 10px 5px 0px;
  background-color: black;
  border: none;
  border-bottom: 1px solid #999999;
  color: white;
  font-size: 16px;
}

.infoinput input::placeholder {
  color: white;
  font-size: 16px;
  background-color: black;
  border: none;
}

a {
  background-color: #ebb67c;
  color: white;
  padding: 12px 28px;
  border-radius: 4px;
  text-decoration: none;
  margin: 20px 50px;
}
