body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px;
}

nav {
  background-color: #d3d3d3;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}

nav ul li {
  text-align: center;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #009900;
  flex-direction: row;
  text-align: center;
}

nav ul li :hover {
  background-color: #009900;
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
}
