@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Pt Sans", sans-serif;
  font-size: 16px;
  max-width: 1300px;
  margin: 0 auto;
}

.nav {
  padding: 0 20px;
}

.nav p {
  display: inline-block;
  font-size: 22px;
  width: 730px;
}

.nav p span {
  color: #50b9e1;
}

nav {
  display: inline-block;
}

li {
  display: inline-block;
}

li:not(:last-child) {
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

nav i {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}

ul {
  padding: 0;
}

a:hover {
  color: #50b9e1;
  cursor: pointer;
}

/*site-header*/
.site-header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(./Images/kids_main.jpg) no-repeat center;
  background-size: cover;
}

.site-header h1 {
  font-size: 66px;
  color: white;
  width: 38%;
  margin: 0;
  padding: 200px 0 80px 100px;
}

.site-header button {
  font-size: 26px;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  margin: 0 0 100px 100px;
}

.site-header button:hover {
  background: #50b9e1;
  border: 2px solid #50b9e1;
  cursor: pointer;
}

/*main*/
/*welcome*/
.welcome {
  color: #5a7c8a;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0px;
}

h2 {
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 32px;
  font-style: italic;
  letter-spacing: 2px;
}

.welcome p {
  text-align: center;
}

/*offerts*/
.offerts img {
  width: 70px;
}

.offerts {
  font-family: "PT Serif", serif;
  color: white;
  background: #50b9e1;
  padding: 20px 30px;
}

.offerts li {
  width: 28%;
  text-align: center;
  padding: 20px 30px;
}

.offerts li a {
  color: white;
}

/*camps*/
.camps {
  color: #5a7c8a;
  padding: 20px 0;
}

body > main > section.camps > p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

.camps img {
  width: 400px;
  height: 250px;
}

.camps li {
  width: 400px;
}

.camps li:not(:last-child) {
  padding-right: 45px;
}

.info div {
  display: inline-block;
}

.info div p,
.info div h3 {
  margin: 0;
  padding: 0;
}

.info div:nth-child(1) {
  width: 339px;
}

.info div:nth-child(2) {
  background: #50b9e1;
  padding: 10px;
  color: white;
  font-size: 22px;
}

.info {
  border-bottom: 2px solid #5a7c8a;
  padding-bottom: 10px;
}

.more-info button {
  border: 2px solid #50b9e1;
  color: #50b9e1;
  background: transparent;
  padding: 5px 10px;
  font-size: 18px;
}

.more-info button:hover {
  cursor: pointer;
  background: #50b9e1;
  color: white;
}

/*footer*/
footer {
  background: #50b9e1;
  color: #5a7c8a;
  padding: 0 40px 0 80px;
}

footer p {
  display: inline-block;
  width: 88%;
}

footer ul {
  display: inline-block;
}

footer ul a {
  color: #5a7c8a;
}

footer ul a i {
  border: 1px solid #5a7c8a;
  border-radius: 50%;
  padding: 5px;
}
