* {
  box-sizing: border-box;
}
body {
  width: 885px;
}
.start::after {
  content: "";
  background-color: rgb(153, 153, 153);
  width: 4px;
  height: 1267px;
  position: absolute;
  left: 147px;
  top: 31px;
  z-index: -1;
}

.timeline {
  border: 0.3rem solid rgb(153, 153, 153);
  padding: 40px;
}

h3 {
  font-style: italic;
  font-size: 24px;
  margin-bottom: 0px;
}

.start {
  border: 1px solid rgb(153, 153, 153);
  width: 300px;
  position: relative;
  left: 35%;
  bottom: 5px;
  border-radius: 6px;
  padding: 6px;
  font-weight: bold;
}

article {
  position: relative;
}

.first,
.third,
.fiveth,
.seven {
  width: 300px;
  left: 465px;
  top: 25px;
}

.first::before,
.third::before,
.fiveth::before,
.seven::before {
  content: "";
  background-color: #048e03;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgb(153, 153, 153);
  position: absolute;
  left: -50px;
}

.second,
.fourth,
.six {
  width: 300px;
  left: 95px;
  top: -40px;
  text-align: right;
}

.second::before,
.fourth::before,
.six::before {
  content: "";
  background-color: #ff9a05;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgb(153, 153, 153);
  position: absolute;
  left: 320px;
}

/* .start::before {
  content: "";
  border: 2px;
  height: 50px;
  width: 4px;
  background-color: rgb(153, 153, 153);
  display: inline-block;
  position: relative;
  top: 0;
  right: 50%;
} */
