<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="logo">Mission Control</a>
  </div>

  <ul class="navbar-links">
    <li>
      <a routerLink="/missions" routerLinkActive="active">Missions</a>
    </li>

    <li>
      <a routerLink="/countdown" routerLinkActive="active">Signals</a>
    </li>

    <li>
      <a routerLink="/command-center" routerLinkActive="active">Command Center</a>
    </li>

    <li>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  </ul>
</nav>
