@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");

* {
  box-sizing: border-box;
}

html {
  margin: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b6b6b6;
  font-size: 14px;
  font-weight: bold;
}

.first {
  padding: 120px 120px 80px;
  height: 800px;
}

.first h2 {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 100;
}

.first p {
  width: 50%;
  font-size: 18px;
}

.first img {
  width: 600px;
  position: relative;
  top: -280px;
  right: -360px;
}

.first button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

.first button {
  background-color: #ff0000;
  border: none;
  border-radius: 40px;
  padding: 10px 40px;
  position: relative;
  top: -510px;
}

.second {
  background-color: #fbfcff;
  display: flex;
  align-items: flex-start;
  height: 650px;
}

.second .secondText {
  width: 35%;
  margin-left: 160px;
}

.second .secondText h2 {
  font-size: 66px;
  text-transform: uppercase;
  font-weight: 100;
}

.second .secondText .texth {
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
  top: -60px;
  left: 130px;
}

.second .secondText .texth span {
  font-weight: bold;
}

.second .secondText .text {
  font-size: 16px;
  line-height: 1.8rem;
}

.second .secondText .price {
  font-weight: bolder;
  font-size: 40px;
}

.second .secondText a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #ff0000;
  padding: 10px 40px;
  border-radius: 30px;
  position: relative;
  top: -75px;
  left: 180px;
}

.third {
  background-color: #575757;
  color: white;
  text-align: center;
  position: relative;
  padding-bottom: 45px;
}

.third img {
  position: relative;
  top: 50px;
  left: -280px;
}

.third h2 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 30px;
  position: relative;
  top: -65px;
  left: 70px;
}

.third h2 span {
  font-weight: bold;
}

.third a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}

.fourth {
  display: flex;
  height: 730px;
}

.fourth .text {
  background-color: #dadada;
  position: relative;
  width: 50%;
}

.fourth .text img {
  position: absolute;
  top: 30px;
  right: 62px;
}

.fourth .text h2 {
  font-size: 90px;
  width: 10%;
  color: #575757;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 80px;
}

.fourth .text p {
  color: #575757;
  font-size: 38px;
  letter-spacing: -3px;
  position: absolute;
  top: 290px;
  left: 80px;
}

.fourth .text p span {
  text-transform: uppercase;
  color: #ff0000;
  font-weight: bold;
}

.fourth .img1 {
  right: 0px;
}

footer {
  font-size: 28px;
  text-align: center;
  color: gray;
  margin: 0px;
}

footer p {
  margin: 30px 0px;
}
