<<<<<<< HEAD
* {
  box-sizing: border-box;
  margin: 15px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  color: rgb(0, 153, 0);
  text-decoration: none;
  text-align: right;
  font-size: 12px;
}

main {
  padding-top: 10px;
}
=======
* {
  box-sizing: border-box;
  margin: 15px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  color: rgb(0, 153, 0);
  text-decoration: none;
  text-align: right;
  font-size: 12px;
}

main {
  padding-top: 10px;
}
>>>>>>> fdc718b3439fcb8e0a7a3848e9819b9ad47197f9
