@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

header {
  margin: 0px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

header .img span {
  color: #34b1c4;
  font-size: 20px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header ul li {
  padding-right: 20px;
}

header ul li a {
  text-decoration: none;
  color: #484745;
  padding-bottom: 5px;
}

header ul li a:hover {
  cursor: pointer;
  border-bottom: 3px solid #34b1c4;
}
.first .img img {
  width: 100%;
  position: relative;
}

.first .text {
  width: 380px;
  height: 125px;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 270px;
  left: 145px;
  padding: 2px 10px;
  z-index: 1;
}
.first .textinfo {
  position: absolute;
  width: 400px;
  top: 270px;
  left: 145px;
  color: white;
  text-transform: uppercase;
  z-index: 1;
  padding: 10px;
}

.first .textinfo h2 {
  margin: 0;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 5px;
  font-size: 25px;
  padding-bottom: 10px;
}

.first .textinfo a {
  text-decoration: none;
  color: white;
  background-color: #008cba;
  padding: 5px 20px;
  border-radius: 20px;
}

.second {
  text-align: center;
  padding: 10px 150px;
}

.second h2 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}

.second h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #3eb5c7;
  top: 30px;
  left: 476px;
}

.second p {
  padding-bottom: 10px;
}

.second a {
  text-decoration: none;
  color: white;
  background-color: #454545;
  padding: 10px 30px;
  border-radius: 20px;
}

.third {
  color: #4b4c4c;
  background-color: #eef0f1;
  margin-top: 40px;
  padding: 0px 60px 40px;
}

.third h2 {
  text-align: center;
  padding-top: 40px;
  position: relative;
  font-weight: 400;
  display: block;
}

.third h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #4b4c4c;
  top: 70px;
  left: 560px;
}

.third .infothird {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.third article {
  background-color: white;
  margin: 10px 30px;
  text-align: center;
  padding-bottom: 40px;
  border-radius: 6px;
}

.third article p {
  padding: 0px 10px;
  margin-bottom: 20px;
}

.third article a {
  text-decoration: none;
  color: white;
  background-color: #4b4c4c;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.third img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.four {
  background-color: #393f43;
  color: white;
  padding: 20px 10px 40px;
  text-align: center;
}

.four h2 {
  position: relative;
  font-weight: 400;
}

.four h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: white;
  top: 35px;
  left: 630px;
}

.four p {
  padding-bottom: 20px;
}

.four input {
  background-color: #545a5e;
  padding: 10px 60px 10px 10px;
  border: none;
  border-radius: 6px;
}

.four a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 6px;
  background-color: #6bbfff;
  margin-left: 20px;
}

footer .info {
  background-color: #2f3539;
  color: white;
  padding: 30px 100px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

footer .info h3 {
  font-weight: 400;
}

footer .info ul {
  list-style: none;
  padding: 0px;
}

footer .info ul li {
  padding-bottom: 14px;
  font-size: 14px;
}

footer .otherinfo {
  padding-top: 20px;
}

footer .info .icon {
  display: flex;
  justify-content: space-around;
}

footer .end {
  background-color: #262b2f;
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 15px;
}

footer .end p {
  margin: 0px;
}

footer .end p span {
  color: #148cba;
}
