* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

article {
  background-color: #edf3fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 100px;
  border-radius: 8px;
}

.first {
  padding: 0px 160px 0px 90px;
}

.first .intro {
  font-size: 12px;
  font-weight: bold;
}

.first h1 {
  font-size: 36px;
  font-weight: 400;
}

.first .info {
  line-height: 1.6rem;
  color: #646f79;
}

.first .btn {
  display: flex;
  margin-top: 30px;
}

.first .btn li {
  list-style: none;
}

.first .btn li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.first .btn .btnfirst {
  color: white;
  background-color: #786eff;
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 15px;
}

.first .btn .btnsecond {
  color: #313b49;
  border: 1px solid #313b49;
  padding: 10px 20px;
  border-radius: 4px;
}
