@media screen and (max-width: 600px) {
  .main-nav {
    display: none;
  }
  .hero-head {
    background-color: black;
    background-image: none;
    padding: 20px;
    text-align: center;
  }
  .wrapper {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .hero-head h1 {
    float: none;
    font-size: 40px;
    text-align: center;
  }

  .hero-head .goal {
    max-width: 100%;
    text-align: center;
  }

  .content-wrap {
    flex-direction: column;
    padding: 10px;
  }

  .button {
    width: 100%;
  }

  .main-foot .wrapper {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .main-foot h4 {
    margin: 10px 0 15px;
  }

  .main-foot .bottom .copyright {
    float: none;
    text-align: center;
  }
}
