@import url("https://use.fontawesome.com/releases/v5.10.0/css/all.css ");

li {
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 50%;
  margin: 10px;
}

a {
  border-radius: 50%;
}

i {
  font-size: 30px;
  color: #262626;
  padding: 15px;
  cursor: pointer;
}

.fb :hover {
  color: #3b5998;
}

.tw :hover {
  color: #00aced;
}

.goo :hover {
  color: #dd4b39;
}

.in :hover {
  color: #2087ba;
}

.inst :hover {
  color: #9eb6c6;
}
