<section id="gallery">
  <h1>Gallery</h1>
  <article class="gallery-container">
    {{#if publication}}
      <!--If there are art publications in the database, show each of them-->
      {{#each publication}}
      {{> publicCard}}
      {{/each}}
    {{else}}
      <!--If there are still no art publications in the database display:-->
      <article class="no-available-publications">
        <h1>No publications created yet.</h1>
        <a href="/gallery/create" class="create-pub">Create publication</a>
      </article>
    {{/if}}
  </article>
</section>