@media screen and (max-width: 1024px) {
  .site-main {
    margin: 1.5rem 0rem;
  }
  .entry-header {
    border-radius: 0px;
  }
  .site-logo {
    font-size: 16px;
  }
  .site-logo img {
    width: 100px;
  }
  .site-footer {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .site-main {
    margin: 0rem;
  }
  .site-navigation ul {
    display: none;
  }
  .entry-header-title {
    font-size: 3.8rem;
  }
  .button-primary {
    padding: 0.6rem 1rem;
    border-radius: 8px;
  }
  .site-logo img {
    width: 150px;
  }
  .site-logo {
    font-size: 24px;
  }
  .site-information-image {
    display: none;
  }
  .site-information {
    display: inline-block;
    text-align: center;
  }
  .entry-description {
    width: 100%;
    padding: 0px 40px 20px;
  }
  .site-form form > p {
    flex-direction: column;
  }
  .site-form input {
    width: 400px;
    margin-top: 15px;
    border-radius: 0px;
  }
  .site-form button {
    display: inline;
  }
  .site-posts {
    flex-direction: column;
  }
  .site-footer {
    flex-direction: column;
    align-items: center;
  }
}
