* {
  box-sizing: border-box;
}
html {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 80px;
}

header img {
  width: 100px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header ul li a {
  text-decoration: none;
  padding-right: 10px;
  color: black;
}

header ul li button {
  color: #0a66c2;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #0a66c2;
  border-radius: 16px;
  padding: 6px 10px;
}

.first {
  padding: 5px 0px 5px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.first .info h1 {
  color: #0a66c2;
  font-size: 46px;
  font-weight: 400;
  width: 500px;
}

.first .info ul {
  list-style: none;
}

.first .info ul li {
  margin: 10px 0px;
}

.first .info ul li a {
  text-decoration: none;
  color: #667eb1;
}

.first .info ul li input {
  padding: 10px;
  width: 300px;
  height: 40px;
  text-align: left;
  border-radius: 2px;
  border: 1px solid black;
}

.first .info ul li button {
  background-color: #0a66c2;
  color: white;
  padding: 15px 128px;
  border-radius: 22px;
  border: none;
  margin-top: 10px;
}

.first .info .password {
  position: absolute;
  font-size: 19px;
  top: 307px;
  left: 98px;
  transition: all 150ms ease-in-out;
  overflow: hidden;
  width: 300px;
  height: 40px;
  color: white;
  text-align: right;
  padding: 8px 16px;
}

.first .info .password:hover {
  cursor: pointer;
  color: gray;
  position: absolute;
  top: 307px;
  left: 98px;
}

.first .info ul li input:hover {
  cursor: pointer;
  text-align: left;
}

.first img {
  width: 700px;
  position: relative;
  z-index: 1;
}

.second {
  background-color: #faf9f7;
  display: flex;
  align-items: center;
  padding: 140px 10px;
  top: -154px;
  position: relative;
}

.second h2 {
  font-size: 36px;
  padding-left: 50px;
  font-weight: 100;
  width: 400px;
}

.second h3 {
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  padding-left: 80px;
}

.second .option {
  width: 600px;
}

.second ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
}

.second ul li {
  background-color: #e6e5e4;
  color: #5d5d5b;
  padding: 10px 20px;
  margin: 6px;
  border-radius: 24px;
}

.third {
  background-color: #f1ece5;
  color: #b24122;
  padding: 50px;
  display: flex;
  align-items: center;
  position: relative;
  top: -154px;
}

.third h3 {
  font-size: 32px;
  width: 30%;
  font-weight: 200;
}

.third button {
  color: #605e5c;
  background-color: transparent;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #605e5c;
  margin-left: 60px;
}

.fourth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 130px;
}

.fourth .fourthtext {
  padding-left: 80px;
  width: 40%;
  font-size: 28px;
}

.fourth .fourthtext h2 {
  font-size: 36px;
  color: #2977c9;
  font-weight: 100;
  margin-block-end: 0px;
}

.fourth .fourthtext p {
  margin-block-start: 14px;
}

.fourth img {
  width: 400px;
  margin: 5px 120px;
}

.fifth {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-bottom: 120px;
}

.fifth h3 {
  font-size: 38px;
  font-weight: 100;
  width: 360px;
}

.fifth img {
  width: 300px;
}

.fifth a {
  text-decoration: none;
  color: #6a6b6d;
  font-size: 16px;
  font-weight: 600;
}

.fifth button {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #6a6b6d;
  border-radius: 30px;
}

.sixth {
  background: url(./images/background.svg);
  height: 570px;
  position: relative;
}

.sixth h3 {
  color: #0a66c2;
  font-size: 36px;
  font-weight: 100;
  padding: 70px;
  width: 680px;
}

.sixth a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.sixth button {
  padding: 12px;
  background-color: #0a66c2;
  border: none;
  border-radius: 30px;
  position: absolute;
  top: 185px;
  left: 70px;
}

footer {
  padding: 20px 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

footer img {
  width: 140px;
}

footer h4 {
  font-size: 18px;
  margin: 14px 0px;
}

footer p {
  margin: 8px 0px;
  color: #696b6d;
  font-weight: bold;
}
