@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background-color: #e9e9e9;
  display: flex;
  padding: 50px 200px;
}

.img {
  background: url(image/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 400px;
  height: 500px;
  position: relative;
  z-index: -2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.img .cover {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 500px;
  opacity: 0.7;
  z-index: -1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: -1px 4px 7px 0px black;
}

.img-p {
  margin: 0px;
  padding: 30px;
  color: white;
  z-index: 5;
  font-weight: bold;
}

.img-info {
  margin: 0px;
  padding: 100px 20px;
  color: white;
  z-index: 5;
  text-align: center;
}

.img-info h1 {
  font-weight: 300;
  font-size: 34px;
  margin: 0px;
}

.img-info p {
  font-weight: 300;
  font-size: 22px;
  margin: 0px;
}

.img-icon {
  margin: 0px;
  color: white;
  z-index: 5;
  text-align: center;
  padding: 80px 10px;
}

.img-icon i {
  padding: 10px;
}

.info {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 60px 40px;
  background-color: #fafafa;
  color: #99a5c2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: -1px 4px 7px 0px black;
}

.infoinput {
  display: flex;
  flex-direction: column;
}

.infoinput input {
  border: none;
  border-bottom: 1px solid #99a5c2;
  margin: 15px 0px;
  background-color: #fafafa;
  padding: 10px;
}

.infoinput input::placeholder {
  font-size: 16px;
  color: #9f99a2;
}

.btn {
  margin-top: 20px;
}

.btn-first {
  text-decoration: none;
  background-color: #111111;
  padding: 8px 28px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 24px;
}

.btn-second {
  color: #99a5c2;
  font-size: 14px;
  margin-left: 15px;
}
