@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
}

.img {
  position: relative;
}

.img img {
  width: 1000px;
  margin: 80px 150px;
  z-index: 1;
}

.cover {
  background-color: rgb(24, 24, 114);
  position: absolute;
  top: 88px;
  left: 158px;
  width: 1000px;
  height: 271px;
  opacity: 0.7;
  z-index: 2;
}
.x {
  position: absolute;
  top: 90px;
  right: 195px;
  color: white;
  z-index: 3;
  font-size: 24px;
  font-weight: bolder;
}

.info {
  position: absolute;
  top: 150px;
  left: 330px;
  display: flex;
  text-align: center;
  color: white;
  z-index: 3;
}

.info article {
  margin-right: 120px;
}

.info i {
  font-size: 34px;
  color: #ec8421;
}
