@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Gelasio", serif;
  margin: 0px;
}

header {
  background-color: #e6e3de;
  color: #554938;
  margin: 0px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0px;
  font-weight: 600;
  padding-left: 10px;
}

.header-nav ul {
  display: flex;
  margin: 0px;
}

.header-nav ul li {
  list-style: none;
  padding: 0px 15px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #554938;
  font-weight: 500;
}

.header-btn {
  margin-right: 30px;
}

.header-btn a {
  text-decoration: none;
  background-color: #554938;
  color: #e6e3de;
  padding: 6px 10px;
  margin: 0px 30px;
}

.hero {
  background: url(Media/craving.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
  position: relative;
}

.hero h2 {
  text-align: center;
  padding-top: 100px;
  margin: 0px;
  color: white;
  font-size: 34px;
  font-weight: 400;
}

.hero input {
  position: absolute;
  top: 150px;
  left: 550px;
  width: 270px;
  padding: 8px;
  opacity: 0.6;
  border: none;
}

.hero i {
  color: #948984;
  position: absolute;
  top: 155px;
  left: 556px;
  font-size: 19px;
}

.first {
  background: url(Media/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
}

.first-glass img {
  width: 600px;
}

.first-glass {
  display: flex;
  margin: 50px 200px;
}

.first-info {
  background-color: #e6e3de;
  text-align: center;
  width: 400px;
  padding: 150px 20px 0px;
}

h3 {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
}

p {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

.first-info a {
  text-decoration: none;
  background-color: #554938;
  color: #e6e3de;
  padding: 10px 20px;
}

.first-info p {
  margin-bottom: 30px;
}

.first-cookies {
  display: flex;
  margin: 0px 200px 50px;
}

.cookies-img img {
  width: 600px;
  height: 100%;
}

.cookies-info {
  background-color: #e6e3de;
  text-align: center;
  width: 400px;
  padding: 150px 20px 0px;
}

.third {
  margin-bottom: 50px;
}

.third h4 {
  color: #554938;
  background-color: white;
  opacity: 0.6;
  padding: 6px 15px;
  font-size: 24px;
  display: inline-block;
  margin: 40px 550px 20px;
}

.thirdart img {
  width: 200px;
  margin: 0px;
}

.thirdart {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}

.thirdart p {
  background-color: white;
  opacity: 0.6;
  text-align: center;
  color: black;
  padding: 15px 8px 10px;
  font-style: italic;
  margin: 0px;
}

.thirdart article {
  display: flex;
  flex-direction: column;
}

.third a {
  text-decoration: none;
  background-color: #db4e35;
  color: white;
  font-weight: 600;
  padding: 10px 100px;
  margin: 0px 530px 20px;
}

.footer {
  background-color: #e3d2d2;
  opacity: 0.9;
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
  padding: 40px 0px;
}

.footer div {
  display: flex;
}

.footer div a {
  text-decoration: none;
  padding: 0px 10px 0px 20px;
  color: #212220;
  font-size: 16px;
}

.footer .line {
  border-right: 1px solid #212220;
}
