* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  max-width: 100%;
}

body,
ul,
li {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

ul {
  justify-content: space-between;
}

li {
  border: 9px solid black;
  background-color: white;
  padding: 10px;
  margin: 30px 45px;
  box-shadow: inset 0px 0px 20px 0px black;
}
