* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  margin: 60px 100px;
}

h1,
h2,
h3 {
  font-family: Georgia, serif;
}

header {
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

main,
aside {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 100%;
}

main {
  width: 65%;
}

aside {
  width: 15%;
  padding-left: 60px;
}

img {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 6px;
  background-color: white;
}

.second blockquote,
.second .paragraph {
  display: inline-block;
  max-width: 65%;
  vertical-align: middle;
}
.second blockquote {
  font-family: Georgia, serif;
  border-left: 2px solid gray;
  width: 45%;
  padding-left: 10px;
}

.second blockquote p {
  text-align: right;
}

.second .paragraph {
  width: 40%;
}

aside li {
  text-decoration: none;
}

aside a {
  color: rgb(0, 153, 0);
}

.first img {
  float: right;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-bottom: 10px;
}

.third img {
  float: left;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-bottom: 10px;
}
