<section class="register-form-container">
  <form method="post" action="/auth/register">
    <h3>Register</h3>
    <label>Email</label>
    <input type="email" name="email" class="box" id="" />
    <label>Username</label>
    <input type="text" name="username" class="box" id="" />
    <label>Password</label>
    <input type="password" name="password" class="box" id="" />
    <label>Confirm Password</label>
    <input type="password" name="rePass" class="box" id="" />
    <input type="submit" value="Register" class="btn" />
    <p>Have an account ? <a href="/auth/login">Click here</a></p>
  </form>
</section>