@media all and (max-width: 600px) {
  .banner {
    padding: 3em 0 1em 0;
  }

  .banner h2 {
    max-width: 90%;
    font-size: 1.7em;
  }

  .ul.actions li:last-child {
    width: 100%;
  }

  .banner .button.special {
    width: 90%;
  }

  .featers {
    flex-direction: column;
  }

  .wrapper {
    padding: 6em 0 4em 0;
  }

  .wrapper > .inner,
  .wrapper > .inner.narrow {
    width: 100%;
  }

  .feature {
    width: 95%;
    margin: 0 auto;
  }

  header.major {
    margin-bottom: 1em;
  }

  .grid-form {
    flex-direction: column;
  }

  .grid-form .form-control.narrow {
    width: 100%;
  }

  .wrapper > .inner.narrow {
    padding: 20px;
  }

  .wrapper.style2 input[type="submit"] {
    width: 100%;
  }

  .footer {
    padding: 2em 0 1em 0;
  }
}
