@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");

* {
  box-sizing: border-box;
}

html {
  margin: 0px 0px;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  width: 100%;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
  box-shadow: 0px 6px 19px 0px grey;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 1;
  width: 95%;
  background-color: white;
}

header img {
  width: 100px;
  padding-left: 10px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
header ul li {
  margin: 0 15px;
}

header ul li a:hover {
  cursor: pointer;
  border-top: 4px solid #42abf8;
  padding-top: 26px;
}

header ul a {
  text-decoration: none;
  color: #495666;
  text-align: center;
  padding: 0px 0px;
}

header ul button {
  background-color: #42abf8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  padding: 0px;
}

header ul button a {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 0px;
}

.first {
  background: url(images/hero-certificates.jpg);
  height: 520px;
  width: 100%;
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-top: 160px;
}

.first .nothing {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
}

.first .text {
  background-color: #29394b;
  color: white;
  width: 50%;
  border-radius: 8px;
  border: none;
  position: absolute;
  left: 80px;
  z-index: 2;
  padding: 20px 30px;
}

.first .firstimg {
  position: absolute;
  right: 325px;
  top: 190px;
  z-index: 2;
}

.first .firstimg1 {
  position: absolute;
  right: 120px;
  top: 160px;
  z-index: 2;
}

.first span p {
  font-size: 14px;
  color: #29394b;
  font-style: italic;
  position: relative;
  bottom: -300px;
  left: 85px;
  z-index: 2;
}

.second {
  color: #4f5c6b;
  padding: 80px 80px;
}

.second h2 {
  text-align: center;
}

.second div {
  background-color: #f4f5f7;
  padding: 10px 20px 40px;
}

.third {
  background: url(images/sign-up-prompt-background.jpg);
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin: 0px 80px;
  border-radius: 12px;
  padding: 30px 20px;
  color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.third .thirdnothing {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -2;
}

.third .thirdtext {
  width: 500px;
}

.third a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.third ul {
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.third ul .buttonone,
.third ul .buttontwo {
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 8px;
  border: 1px solid white;
  position: relative;
  margin: 10px 35px;
}

.third .buttonone::after {
  content: "";
  height: 35px;
  width: 2px;
  position: absolute;
  background-color: white;
  top: 0px;
  left: 140px;
}

.third ul .buttonone:hover,
.third ul .buttontwo:hover {
  cursor: pointer;
  background-color: white;
  color: #42abf8;
  transition: all 150ms ease-in-out;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  margin: 50px 80px 10px;
  padding-top: 10px;
}

footer .logo {
  display: flex;
}

footer .logo p {
  font-size: 12px;
  color: lightgray;
  margin-left: 10px;
}

footer img {
  width: 100px;
}

footer .info ul {
  list-style: none;
  display: flex;
  color: #87909a;
}

footer .info ul li {
  padding-left: 12px;
  align-items: center;
}
