<h1>Create New Product</h1>
<form action="/create" method="post">
  <label><span>Name</span><input name="name" type="text" /></label>
  <label><span>Price</span><input name="price" type="number" /></label>
  <input type="submit" value="Create" />
</form>