<section class="create-form-container">
  <form method="POST" action="/book/create">
    <h3>Create Book Review</h3>
    <label>Title</label>
    <input type="text" name="title" class="box" id="" />
    <label>Author</label>
    <input type="text" name="author" class="box" id="" />
    <label>Genre</label>
    <input type="text" name="genre" class="box" id="" />
    <label>Stars</label>
    <input type="number" name="stars" class="box" id="" />
    <label>Image</label>
    <input type="text" name="imageUrl" class="box" id="" />
    <label>Review</label>
    <textarea class="box" name="bookReview"></textarea>
    <input type="submit" value="Create" class="btn" />
  </form>
</section>