@media all and (max-width: 768px) {
  .main-movie-poster img {
    display: none;
  }

  .main-movie-trailer iframe {
    width: 600px;
    padding: 0px 20px;
  }

  .movies {
    margin: 100px 0 100px 0;
  }
}

@media all and (max-width: 415px) {
  ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
  }
  .main-movie ul li {
    padding: 0px;
  }
  .main-movie-trailer iframe {
    width: 415px;
    padding: 0px 0px;
  }

  .movie-list {
    flex-direction: column;
    padding: 0px 5px;
  }

  .movie-list li img {
    width: 410px;
    padding: 0px 30px;
  }
}
