<div class="book">
  <div class="info-container-profile">
    <img src="{{imageUrl}}" />
  </div>
  <div class="details-btn">
    <a href="/book/details/{{_id}}" class="details">Details</a>
  </div>
</div>

{{! <div class="book">
  <div class="info-container-profile">
    <img src="./image/Beautiful-world.jpeg" />
  </div>
  <div class="details-btn">
    <a href="#" class="details">Details</a>
  </div>
</div>

<div class="book">
  <div class="info-container-profile">
    <img src="./image/Unsettled-ground.jpeg" />
  </div>
  <div class="details-btn">
    <a href="#" class="details">Details</a>
  </div>
</div> }}