.navigation li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}

.navigation li:hover {
  text-decoration: underline;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.nav-active {
  color: purple;
}
