@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 400px;
  margin: 50px 400px;
  color: #464649;
  background-color: #ebf0f0;
}

h1 {
  border-bottom: 2px solid #007acc;
  text-align: center;
  font-weight: 600;
  font-size: 42px;
}

section {
  position: relative;
}
section p span {
  color: red;
}

section p {
  font-size: 24px;
  margin-bottom: 0px;
}

section input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c4dfe9;
  border-radius: 6px;

  margin: 10px 0px;
}

section div {
  position: absolute;
  top: 49px;
  left: 15px;
}

section div i {
  border-right: 1px solid gray;
  padding-right: 10px;
  margin-right: 10px;
}

.pass {
  font-size: 14px;
  color: #464649;
}

a {
  text-decoration: none;
  text-align: center;
  background-color: #007acc;
  padding: 6px 165px;
  color: white;
  font-size: 22px;
  border-radius: 6px;
}

.btn {
  margin: 20px 0px;
}
