body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: #EDEDED;
}

section h2 {
    text-decoration: underline;
    padding: 20px;
    margin: 10px 5px;
    background-color: #3B516B;
    letter-spacing: 3px;
    background-color: #3B516B;
    border-radius: 10px;
    color: floralwhite;
}

section li {
    margin-left: 20px;
}