@media screen and (max-width: 1000px) {
  .pair {
    flex-direction: column;
    align-items: center;
  }

  .planet {
    width: 75%;
  }

  footer nav {
    flex-direction: column;
  }

  .primary footer nav a:nth-child(even) {
    border: none;
  }
  h2 {
    margin-block-start: 0.33em;
  }
}

@media screen and (max-width: 850px) {
  .news ul {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
