* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(238, 238, 238);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 3px lightgrey;
  max-width: 400px;
}

.card p {
  font-family: Helvetica, sans-serif;
}
