<<<<<<< HEAD
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 65vw;
  margin: 80px auto;
  flex-wrap: wrap;
}

.container,
section {
  display: flex;
  justify-content: center;
}

span {
  border: 1px solid black;
  padding: 15px 15px 70px 15px;
}

.notes {
  flex-direction: column;
  flex-basis: 20%;
}

.week {
  flex-wrap: wrap;
  flex-basis: 80%;
}

.workweek,
.weekend {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.day {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.notes span {
  flex-grow: 1;
  text-align: center;
}
=======
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 65vw;
  margin: 80px auto;
  flex-wrap: wrap;
}

.container,
section {
  display: flex;
  justify-content: center;
}

span {
  border: 1px solid black;
  padding: 15px 15px 70px 15px;
}

.notes {
  flex-direction: column;
  flex-basis: 20%;
}

.week {
  flex-wrap: wrap;
  flex-basis: 80%;
}

.workweek,
.weekend {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.day {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.notes span {
  flex-grow: 1;
  text-align: center;
}
>>>>>>> fdc718b3439fcb8e0a7a3848e9819b9ad47197f9
