@media screen and (max-width: 600px) {
    .placeholder{
        min-height: 250px;
    }
    .tm-header{
        padding: 0px 0px;
    }

    .parallax-window {
        min-height: 250px;
    }

    .tm-nav-ul {
        position: relative;
        right: -210px;
    }

    .tm-paging-links ul li {
        margin: 0px 20px;
    }
    .tm-gallery {
        margin: 0px;
    }
    .tm-gallery-page {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .tm-cta-section {
        width: 100%;
    }
}