<div class="card-home">
  <h2>{{name}}</h2>
  <div class="cta-container"><a
      href="/estate/details/{{_id}}"
      class="details-link"
    >Details</a></div>
  <div class="card_image"><img src="{{imageUrl}}" /></div>

</div>

{{! <div class="card-home">
        <h2>Real House Luxury Villa</h2>
        <div class="cta-container"><a
            href="#"
            class="details-link"
          >Details</a></div>
        <div class="card_image"><img src="./static/images/5.jpg" /></div>

      </div>

      <div class="card-home">
        <h2>House Take Away</h2>
        <div class="cta-container"><a
            href="#"
            class="details-link"
          >Details</a></div>
        <div class="card_image"><img src="./static/images/house2.jpg" /></div>

      </div>

      <div class="card-home">
        <h2>Sunhouse C21</h2>
        <div class="cta-container"><a
            href="#"
            class="details-link"
          >Details</a></div>
        <div class="card_image"><img
            src="./static/images/apartments.jpg"
          /></div>

      </div> }}