<div class="card">
  <h3>{{name}}</h3>
  <p>{{description}}</p>

  <div class="cta-container"><a
      href="/estate/details/{{_id}}"
      class="det-link"
    >Details</a></div>
  <div class="card_circle"><img src="{{imageUrl}}" /></div>

</div>

{{! <div class="card">
  <h3>Real House Luxury Villa</h3>
  <p>Spacious and grand villa, 3 bedroom, 2 bath.</p>

  <div class="cta-container"><a href="#" class="det-link">Details</a></div>
  <div class="card_circle"><img src="./static/images/5.jpg" /></div>

</div>
<div class="card">
  <h3>House Take Away</h3>
  <p>Nested among stunning Victorians and located.</p>
  <div class="cta-container"><a href="#" class="det-link">Details</a></div>
  <div class="card_circle"><img src="./static/images/house2.jpg" /></div>

</div>

<div class="card">
  <h3>Sunhouse C21</h3>
  <p>Spacious dining room, remodel kitchen and wonderful deeded walk-out deck.
  </p>
  <div class="cta-container"><a href="#" class="det-link">Details</a></div>
  <div class="card_circle"><img src="./static/images/apartments.jpg" /></div>

</div> }}