<article class="intro-right-side-content">
  <!-- Do not forget to change the path to the image -->
  <img src="/static/img/technology.png" alt="technology" />
  <h5>
    <!--Put the value of the headline below-->
    {{headline}}
    <!--Put the value of the total number of candidates below-->
    <span>Candidates: {{ussersApplied.length}}</span>
  </h5>
</article>

{{! <article class="intro-right-side-content">
  <!-- Do not forget to change the path to the image -->
  <img src="./static/img/technology.png" alt="technology" />
  <h5>
    <!--Put the value of the headline below-->
    Front End Developer
    <!--Put the value of the total number of candidates below-->
    <span>Candidates: 2</span>
  </h5>
</article>

<article class="intro-right-side-content">
  <!-- Do not forget to change the path to the image -->
  <img src="./static/img/technology.png" alt="technology" />
  <h5>
    <!--Put the value of the headline below-->
    Teacher
    <!--Put the value of the total number of candidates below-->
    <span>Candidates: 1</span>
  </h5>
</article>

<article class="intro-right-side-content">
  <!-- Do not forget to change the path to the image -->
  <img src="./static/img/technology.png" alt="technology" />
  <h5>
    <!--Put the value of the headline below-->
    Mathematician
    <!--Put the value of the total number of candidates below-->
    <span>Candidates: 0</span>
  </h5>
</article> }}