body {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 238, 238);
}

.gallery {
  margin: 60px 120px;
}

li {
  border: 0.4rem solid black;
  text-align: center;
  display: inline-block;
  padding: 15px;
  margin: 14px 8px;
  max-width: 250px;
  vertical-align: middle;
}

img {
  width: 90%;
}
