* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}
body {
  background-color: #eeeeee;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 80px;
}

.site-title {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  width: 100%;
  font-size: 28px;
  padding-bottom: 12px;
}

h1,
h2 {
  font-family: Open Sans, Georgia, "Times New Roman", Times, serif;
}

.Picture1 {
  float: right;
  border: 2px solid black;
  padding: 6px;
  background-color: white;
  margin: 0 0 6px 12px;
}

.section2 .psecond,
.section2 blockquote {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

blockquote {
  display: inline-block;
  width: 45%;
  font-style: italic;
  border-left: 6px solid lightgray;
  padding: 0 38px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

blockquote p {
  text-align: right;
}

.section3 {
  margin-left: 12px;
}

.Picture2 {
  float: left;
  border: 2px solid black;
  background-color: white;
  margin-right: 14px;
}

@media all and (max-width: 1800px) {
  html {
    font-size: 23px;
  }
}

@media all and (max-width: 1300px) {
  html {
    font-size: 21px;
  }

  body {
    padding: 0 40px;
  }

  .section2 .psecond,
  .section2 blockquote {
    display: inline-block;
    width: 44%;
    vertical-align: middle;
  }

  blockquote {
    display: inline-block;
    width: 44%;
  }

  blockquote p {
    text-align: right;
  }
}

@media all and (max-width: 800px) {
  html {
    font-size: 18px;
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media all and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 600px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 8px;
  }

  html {
    font-size: 12px;
  }
  body {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .site-title {
    font-size: 12px;
  }

  p {
    font-size: 8px;
  }

  .Picture1,
  .Picture2 {
    width: 150px;
    display: flex;
    flex-direction: column;
  }
  blockquote {
    font-size: 8px;
  }
  .section2 .psecond,
  .section2 blockquote {
    display: flex;
    flex-direction: column;
  }
}
