@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px 40px 20px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 5px 5px 0px;
}

header {
  background-color: black;
  color: white;
  padding: 20px 10px 1px;
  letter-spacing: 1px;
}

header h1 {
  color: #0ce8f9;
  margin: 0px;
  font-size: 48px;
  font-weight: 400;
}

header p {
  margin: 8px 0px 10px;
  font-size: 24px;
}

.hero {
  margin: 20px 40px 60px;
  display: flex;
  align-items: flex-start;
}

.heroImg {
  padding: 10px 20px;
  border: 1px solid rgb(63, 63, 63);
  width: 500px;
}

.heroImg p {
  font-size: 26px;
  margin: 0px;
}

.heroInfo {
  padding: 0px 40px;
  font-size: 36px;
  letter-spacing: 1px;
}

.focusAbEarth h2 {
  background-color: black;
  color: white;
  padding: 12px;
  display: inline-block;
  font-size: 48px;
  margin: 0px;
}
.focusAbEarth .focusInfo {
  background-color: #d9ebeb;
  padding: 30px;
  font-size: 36px;
  margin: 0px;
  line-height: 3.3rem;
}

.focusAbEarth .focusInfo p {
  margin: 0px;
}

.focusAbEarth .focusInfo span {
  font-weight: bold;
}
