@media screen and (max-width: 768px) {
  .gallery {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .gallery > * {
    width: 100%;
  }
  .wrapper.style2 {
    padding: 0px;
  }
  .spotlight {
    flex-direction: column;
    align-items: center;
  }

  .spotlight > * {
    width: 100%;
  }
  body {
    padding: 0px 100px;
  }
  .inner {
    padding: 0px;
  }
  .spotlight .inner {
    padding: 30px;
    text-align: center;
  }
  p {
    margin-block-end: 0px;
    margin-block-start: 0px;
  }
}
