html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body h1 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

body h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

