* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  margin: 15px 60px;
  padding: 0 0;
}

header {
  width: 100%;
  border-bottom: 1px solid black;
}

header p {
  display: inline-block;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

header nav {
  display: inline-block;
  width: 59%;
  text-align: right;
}

header nav li {
  display: inline-block;
  margin-left: 8px;
}

h1,
h2,
h3 {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
}

a {
  color: rgb(0, 102, 0);
  text-decoration: none;
}

img {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  padding: 4px;
}

.First {
  margin-top: 40px;
  font-size: 20px;
}

.Img1 {
  float: right;
  margin: 0 0 8px 22px;
}

.Second {
  margin-top: 40px;
  font-size: 20px;
  width: 100%;
}

.Second blockquote,
.Secondp {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

blockquote {
  font-family: Georgia, serif;
  border-left: 2px solid black;
  padding: 15px;
  font-style: italic;
}

blockquote p {
  text-align: right;
}

.Third {
  margin-top: 40px;
  font-size: 20px;
}

.Img2 {
  float: left;
  margin-right: 20px;
}

main,
aside {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

main {
  width: 70%;
}

aside {
  width: 29%;
  padding-left: 80px;
}
