@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css ");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebebeb;
}

header {
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
}

header h1 {
  text-transform: uppercase;
}

ul {
  display: flex;
  background-color: white;
  border-radius: 6px;
  padding: 8px;
}

li {
  list-style: none;
  background-color: #2d2d2d;
  border-radius: 6px;
  padding: 12px;
  margin: 0 4px;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  display: none;
}

@media all and (max-width: 1000px) {
  header,
  ul {
    flex-direction: column;
  }

  h1 {
    padding-left: 12px;
  }

  ul {
    border: 1px solid black;
    margin: 0;
  }

  li {
    margin: 5px 0;
  }

  .btn {
    color: #2d2d2d;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
    display: block;
  }

  .btn i {
    color: #2d2d2d;
  }
}

@media all and (max-width: 500px) {
  h1 {
    text-align: center;
  }

  .btn {
    display: block;
  }
}
